<div ng-controller="deleteByIdCtl">
	<div class="wrapper col-md-8"
		style="margin-left: 200px; margin-top: 100px; width: 500px;">
	<form>
		<div class="row">
			<div class="col-sm-12">
				<p>
					<b>Delete Product By Id</b>
				</p>
				Product :<input type="text"  class="form-control" ng-model="productId" required>
			</div>
			
		</div>
		
	
		<button type="submit" class="btn btn-lg btn-primary btn-block space"
				style="background-color: #E60000; border: none; font-weight: 600; color: white;" ng-click="submitById()">Submit</button>
		<span ng-show="show">{{message}}</span>
		</form>
	</div>
</div>